---
layout: page
title:  Gallery
galleries:
 1:
   -
     - { url: '\img\gallery\contour.png', alt: 'Contour'}
     - { url: '\img\gallery\glitch.gif', alt: 'Glitch'}

 2:
   -
     - { url: '\img\gallery\dancin.gif', alt: 'Dancin'}
     - { url: '\img\gallery\glitch.gif', alt: 'Glitch'}
---


Graphics and visual renders for various projects both independently and with cjgstudio.com

{% include gallery.html  gallery=1 %}
{% include gallery.html  gallery=2 %}

<p style="text-align:center;">
  <iframe width="500"
  src="https://corrie.dev/img/gallery/logo.mp4" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

